tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:常规;
	mso-style-id:0;}
.font8
	{color:#C00000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font9
	{color:#C00000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font10
	{color:red;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font11
	{color:#FFC000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font12
	{color:#FFC000;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font13
	{color:#00B050;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font14
	{color:#00B050;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font15
	{color:#00B0F0;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font16
	{color:#00B0F0;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font17
	{color:#0070C0;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font18
	{color:#7030A0;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font19
	{color:#7030A0;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font20
	{color:#44546A;
	font-size:24.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:微软简综艺, monospace;
	mso-font-charset:134;}
.font21
	{color:#44546A;
	font-size:24.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:微软简综艺, monospace;
	mso-font-charset:134;}
.font22
	{color:#44546A;
	font-size:24.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:黑体, monospace;
	mso-font-charset:134;}
.font23
	{color:black;
	font-size:6.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font24
	{color:black;
	font-size:6.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font28
	{color:red;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font29
	{color:#F4B084;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font30
	{color:#F4B084;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font36
	{color:#0070C0;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font38
	{color:#FF99FF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font39
	{color:#FF99FF;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font42
	{color:black;
	font-size:24.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Bahnschrift, sans-serif;
	mso-font-charset:0;}
.font43
	{color:black;
	font-size:24.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:微软简综艺, monospace;
	mso-font-charset:134;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:等线;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	color:#44546A;
	font-size:24.0pt;}
.xl66
	{mso-style-parent:style0;
	font-size:24.0pt;}
.xl67
	{mso-style-parent:style0;
	font-size:6.0pt;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	border:.5pt solid windowtext;
	mso-diagonal-down:.5pt solid windowtext;}
.xl68
	{mso-style-parent:style0;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;
	background:#E7E6E6;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	color:#C00000;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl70
	{mso-style-parent:style0;
	color:red;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl71
	{mso-style-parent:style0;
	color:#FFC000;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl72
	{mso-style-parent:style0;
	color:#92D050;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl73
	{mso-style-parent:style0;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl74
	{mso-style-parent:style0;
	color:#00B050;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl75
	{mso-style-parent:style0;
	color:#00B0F0;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl76
	{mso-style-parent:style0;
	color:#0070C0;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl77
	{mso-style-parent:style0;
	color:#7030A0;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid windowtext;}
.xl78
	{mso-style-parent:style0;
	color:#FF99FF;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;}
.xl79
	{mso-style-parent:style0;
	color:#FF99FF;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;}
.xl80
	{mso-style-parent:style0;
	font-family:微米简书;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.xl81
	{mso-style-parent:style0;
	font-size:12.0pt;}
.xl82
	{mso-style-parent:style0;
	font-size:12.0pt;
	mso-number-format:"m\0022月\0022d\0022日\0022\;\@";
	border:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	color:#C00000;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	color:red;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	font-size:12.0pt;
	border:.5pt solid windowtext;}
.xl86
	{mso-style-parent:style0;
	color:#FFC000;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl87
	{mso-style-parent:style0;
	color:#92D050;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	color:#00B050;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl89
	{mso-style-parent:style0;
	color:#00B050;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	color:#00B0F0;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	color:#0070C0;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl92
	{mso-style-parent:style0;
	color:#7030A0;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	color:#FFC000;
	font-size:12.0pt;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;
	white-space:normal;}
.xl94
	{mso-style-parent:style0;
	color:#00B0F0;
	font-size:12.0pt;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl95
	{mso-style-parent:style0;
	color:#0070C0;
	font-size:12.0pt;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	text-align:left;
	border:.5pt solid windowtext;
	mso-diagonal-down:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style0;
	font-size:24.0pt;
	font-family:微软简综艺, monospace;
	mso-font-charset:134;
	text-align:center;}
.xl98
	{mso-style-parent:style0;
	color:#C00000;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl99
	{mso-style-parent:style0;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl100
	{mso-style-parent:style0;
	color:#0070C0;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl101
	{mso-style-parent:style0;
	color:#00B0F0;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl102
	{mso-style-parent:style0;
	color:#FFC000;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl103
	{mso-style-parent:style0;
	color:red;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style0;
	color:yellow;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#44546A;
	mso-pattern:black none;}
.xl105
	{mso-style-parent:style0;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#44546A;
	mso-pattern:black none;}
.xl106
	{mso-style-parent:style0;
	font-size:22.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFCCFF;
	mso-pattern:black none;
	white-space:normal;}
.xl107
	{mso-style-parent:style0;
	color:#92D050;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl108
	{mso-style-parent:style0;
	color:#7030A0;
	font-size:12.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#DDEBF7;
	mso-pattern:black none;}
.xl109
	{mso-style-parent:style0;
	font-size:36.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFCCFF;
	mso-pattern:black none;
	white-space:normal;}
.xl110
	{mso-style-parent:style0;
	font-size:36.0pt;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFCCFF;
	mso-pattern:black none;}
.xl111
	{mso-style-parent:style0;
	color:#44546A;
	font-size:24.0pt;
	font-weight:700;
	font-family:微软简综艺, monospace;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl112
	{mso-style-parent:style0;
	color:#44546A;
	font-size:24.0pt;
	font-family:微软简综艺, monospace;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
